/*:root {
  --primary-dark: #0a1628;
  --primary-light: #1a3a52;
  --primary-accent: #2a5a8a;
  --accent-bright: #3b82f6;
  --text-primary: #e0e7ff;
  --text-secondary: #a8b8d8;
  --bg-dark: #0f1923;
  --border-color: #2a5a8a;
}*/
:root {
    /* Dark Theme */

    --primary-dark: #e7e7e7; /* Fondo principal muy oscuro */
    --primary-light: hsla(0, 0%, 100%, 0.014); /* Superficie / cards */
    --primary-accent: #2563eb; /* Azul principal */
    --accent-bright: #3b82f6; /* Azul brillante */
    --white: white;

    --text-primary: white; /* Texto principal */
    --text-secondary: white; /* Texto secundario */

    --bg-dark: #020617; /* Fondo general */
    --border-color: #1e293b; /* Bordes */
}

.text-title  {
    font-size: 30px !important;
    color: white !important;
    text-shadow: 0 0 14px 3px white !important;
    font-weight: 900 !important;
    font-family: sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, sans-serif;
    line-height: 1.6;
}
